.ql-container {
  max-height: 300px; /* Set the maximum height for the editor */
  overflow-y: auto; /* Add vertical scrollbar when content exceeds the height */
}

.ql-snow.ql-toolbar {
  border-radius: 10px 10px 0 0;
  border: none;
}

.ql-snow.ql-container {
  border-radius: 0 0 10px 10px;
  border: none;
}
.ql-snow.ql-container,
.btn-toggleQuill {
  --bs-btn-bg: #1a1a1a;
  --bs-btn-border-color: #1a1a1a;
  background-color: #1a1a1a;
}

.btn-toggleQuill {
  border-radius: 0 0 var(--bs-btn-border-radius) var(--bs-btn-border-radius);
  --bs-btn-padding-x: 1.5rem;
}

.ql-snow .ql-stroke {
  stroke: #808080;
}
.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: #0c86ff;
}

/* dark-quill.css */
.ql-snow {
  background-color: #222; /* Dark background color */
  color: #ddd; /* Light text color */
}

.ql-snow .ql-toolbar button,
.ql-snow .ql-toolbar a {
  color: #ddd; /* Light button text color */
}

.ql-snow .ql-toolbar button:hover,
.ql-snow .ql-toolbar a:hover {
  color: #fff; /* White hover color for buttons */
}

.ql-snow .ql-picker-label {
  color: #ddd; /* Light color for picker labels */
}

.ql-snow .ql-picker-options .ql-picker-item:hover {
  background-color: #333; /* Dark hover color for picker options */
  color: #fff; /* White text for hovered picker options */
}

/* Adjust these styles as needed for specific elements */
.ql-snow .ql-editor .ql-line:first-child {
  border-top: 0; /* Remove top border from first line */
}

.ql-snow .ql-editor p {
  margin-bottom: 5px; /* Add some margin between paragraphs */
}

.react-quill-container {
  background-color: #222;
  border-radius: 10px;
  max-height: 350px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.react-quill-container.hidden {
  max-height: 10px;
  overflow: hidden;
}
