.custom-modal .modal-dialog {
  --bs-modal-width: 800px;
}

.custom-modal .modal-content {
  --bs-modal-bg: var(--gray-1);
  --bs-modal-border-width: 0px;
  overflow: hidden;
}

.gray-1-bg {
  background-color: var(--gray-1);
}

.gray-2-bg {
  background-color: var(--gray-2);
}

.gray-3-bg {
  background-color: var(--gray-3);
}

.custom-modal .modal-body,
.custom-modal .modal-footer {
  --bs-modal-padding: 0px;
}

.custom-modal .modal-header,
.custom-modal .modal-footer {
  border: none;
}

.custom-modal .leftPart {
  max-width: 250px;
}

.custom-modal .form-check-input:checked {
  background-color: var(--gray-2);
  border-color: var(--gray-2);
}

.custom-modal .form-check-input {
  --bs-body-bg: var(--gray-1);
}

.checkbox-title {
  font-size: 1em;
  text-transform: capitalize;
  color: var(--white-1);
  -webkit-user-select: none; /* For webkit browsers (Chrome, Safari, etc.) */
  -moz-user-select: none; /* For Mozilla Firefox */
  -ms-user-select: none; /* For Microsoft Edge */
  user-select: none; /* Standard syntax */
}

.checkbox-description {
  font-size: 0.75em;
  color: var(--white-1);
  -webkit-user-select: none; /* For webkit browsers (Chrome, Safari, etc.) */
  -moz-user-select: none; /* For Mozilla Firefox */
  -ms-user-select: none; /* For Microsoft Edge */
  user-select: none; /* Standard syntax */
}

.datalist-container {
  position: relative;
}

datalist {
  position: relative;
  top: calc(100% + 5px);
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

datalist option {
  display: inline-block;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(
    --blue-0
  );
}
input[type="range"]::-moz-range-track {
  background-color: var(
    --blue-0
  ); /* Change the color to var(--blue-0) for Firefox */
}
input[type="range"]::-ms-track {
  background-color: var(
    --blue-0
  ); /* Change the color to var(--blue-0) for Microsoft Edge */
}
