@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  overflow: hidden;
}

section.graybg {
  background-color: rgb(69, 69, 69);
}

.highlight-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlighted-word {
  font-size: 4em; /* Adjust font size based on your preference */
  font-weight: bold;
}

.highlighted-word-ba {
  font-size: 4em; /* Adjust font size based on your preference */
}

textarea.form-control,
textarea.form-control:focus,
input.form-control,
input.form-control:focus {
  color: white;
  background-color: black;
}

.center-text {
  font-size: calc(100% + 1vw);
}

.mouseHoverBg {
  background-color: rgba(0, 0, 0, 0.1);
}

@keyframes pulseAnimation {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.play-animation {
  animation: pulseAnimation 300ms; /* Apply pulse animation */
  animation-play-state: running; /* Ensure animation is playing */
}

@keyframes pulseAnimationbg {
  0% {
    background-color: rgba(0, 0, 0, 0.1);
  }
  90% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.play-animation-bg {
  animation: pulseAnimationbg 300ms; /* Apply pulse animation */
  animation-play-state: running; /* Ensure animation is playing */
}
