@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  overflow: hidden;
}

section.graybg {
  background-color: rgb(69, 69, 69);
}

.highlight-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlighted-word {
  font-size: 4em; /* Adjust font size based on your preference */
  font-weight: bold;
}

.highlighted-word-ba {
  font-size: 4em; /* Adjust font size based on your preference */
}

textarea.form-control,
textarea.form-control:focus,
input.form-control,
input.form-control:focus {
  color: white;
  background-color: black;
}
