@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  font-family: "Roboto", sans-serif;

  --gray-1: #1e2124;
  --gray-2: #2e3136;
  --gray-3: #36393e;
  --gray-4: #424549;
  --gray-5: #4a4c51;
}

body {
  overflow: hidden;
}

section.graybg {
  background-color: var(--gray-2);
}

.highlight-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icons {
  width: 50px;
  height: 50px;
}

.btn-icons-fill {
  padding: 0px;
  display: block;
  width: 100%;
  height: 100%;
}

.afterText {
  width: 100%;
  left: 50%;
  transform: translate(-50%);
}

textarea.form-control,
textarea.form-control:focus,
input.form-control,
input.form-control:focus {
  color: white;
  background-color: black;
}

.center-text {
  font-size: calc(100% + 1vw);
}

.col-skinny {
  flex: 0 0 0%;
}

.beforeAfterHoverBtn {
  background-color: var(--gray-1);
  width: 80%;
  height: 20%;
  border-radius: 30px;
}

.beforeAfterHoverAnim {
  -webkit-animation: beforeAfterHoverAnim 0.5s both;
  animation: beforeAfterHoverAnim 0.5s both;
}

@-webkit-keyframes beforeAfterHoverAnim {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  15% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  45% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  60% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes beforeAfterHoverAnim {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  15% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  45% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  60% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
