@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.highlight-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlighted-word {
  font-size: 4em; /* Adjust font size based on your preference */
}

.highlighted-word-ba {
  font-size: 4em; /* Adjust font size based on your preference */
  color: rgb(69, 69, 69);
}